@tailwind base;
@tailwind components;
@tailwind utilities;

.image-shadow {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.image {
  transition: 0.2s;
}

.image:hover {
  transform: scale(1.01);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
}

.avatar {
  object-fit: cover;
  margin-right: 10px;
}
